.form {
  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }
  &__input {
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    color: inherit;
    padding: 1.5rem;
    width: 90%;
    border-radius: 2px;
    display: block;
    background: rgba(white, .9);
    border-bottom: 3px solid transparent;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: #999;
    }
    &:placeholder-shown + .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-3rem);
    }
  }
  &__label {
    color: #999;
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    margin-left: 1.3rem;
    margin-top: .3rem;
    transition: all .4s;
    transform: translateY(0rem);
  }

  &__radio-group {
    display: inline-block;
    font-size: 1.6rem;
    position: relative;
    vertical-align: middle;
    margin-bottom: 3rem;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
  &__radio-input {
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }
  &__radio-label {
    margin-left: 2rem;
    cursor: pointer;
  }
  &__radio-button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 5px solid $color-primary;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      content: "";
      display: block;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background: $color-primary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
  &__radio-input:checked + &__radio-label &__radio-button::after{
    opacity: 1;
  }
}
