.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 5rem;

  @include respond(phone) {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-midium {
  margin-bottom: 2rem;
}
